APP_ENV=development
APP_NAME=project-g
APP_VERSION=0.1.0
LOG_LEVEL=INFO
TIMEZONE=Asia/Tokyo

API_HOST=0.0.0.0
API_PORT=8000

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=project_g
DATABASE_USER=project_g
DATABASE_PASSWORD=

REDIS_HOST=queue
REDIS_PORT=6379
REDIS_DATABASE=0

RQ_DEFAULT_QUEUE=default
RQ_JOB_TIMEOUT_SECONDS=300
RQ_MAX_RETRIES=3

PUBLISHING_ENABLED=false
